<h2>Products</h2>
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Title</th>
      <th scope="col">Description</th>
      <th scope="col">Price</th>
      <th scope="col">Code</th>
      <th scope="col">Stock</th>
    </tr>
  </thead>
  <tbody>
    {{#each products}}
        <tr product-id={{this.id}}>
            <th scope="row"><a href='localhost:8080/api/products'>Open</a></th>
            <td>{{this.title}}</td>
            <td>{{this.description}}</td>
            <td>{{this.price}}</td>
            <td>{{this.code}}</td>
            <td>{{this.stock}}</td>
        </tr>
    {{/each}}
  </tbody>
</table>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script type="module" src="/js/index.js"></script>